.posts {
	list-style-type: none;
	margin: 0;
}

.post {
	margin: 1rem 0;
	a {
		background: #f4f4f4;
		color: #404040;
		display: block;
		padding: 1rem;
		text-decoration: none;
	}
	a:hover {
		background: #e4e4e4;
	}
	h2 {
		margin-bottom: 0;
	}
	p {
		color: #777777;
		font-size: .8rem;
		font-style: italic;
	}
}